.wrap-banner-home {
	position: relative;
	.slider-nums {
		font-family: $f2;
		pointer-events: none;
		display: block;
		@include pfs(
			"left",
			(
				767px: 15px,
				1024px: 30px,
				1366px: 84px,
				1920px: 120px,
			)
		);
		margin-bottom: 20px;
		z-index: 10;
		color: #fff;
		strong {
			display: block;
			@include pfs(
				"font-size",
				(
					1366px: 30px,
					1920px: 42px,
				)
			);
			color: $c1;
			font-weight: 400;
			line-height: 1.1;
		}
	}
	.slider-nums-v2{
		position: absolute;
		right: 120px;
		color: white;
		bottom: 0;
		line-height: 105px;
		font-family: $f2;
		strong{
			font-size: 26px;
			font-weight: 500;
		}
		strong,span{
			transform: translateY(-15px);
		}
	}
}
.video-home {
	display: flex;
	position: absolute;
	left: 45px;
	bottom: 0;
	width: 340px;
	height: 210px;
	z-index: 999;
	justify-content: center;
	align-items: center;
	background: url("../images/bg-video.png") no-repeat center;
	background-size: cover;
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(#000, 0.25);
		z-index: -1;
	}
	i {
		color: #fff;
		font-size: 24px;
		width: 60px;
		height: 60px;
		text-align: center;
		line-height: 60px;
		border-radius: 50%;
		border: 2px solid white;
		transition: 0.5s;
	}
	span {
		display: block;
		position: absolute;
		bottom: 0;
		left: calc(100% + 2em);
		transition: 0.3s;
		@include pfs(
				"font-size",
				(
					1366px: 16px,
					1600px: 20px,
				)
			);
		@include pfs(
				"line-height",
				(
					1024px: 80px,
					1366px: 105px,
				)
			);
		white-space: nowrap;
		font-family: $f2;
		color: white;
		text-transform: uppercase;
	}
	&:hover{
		i{
			transform: scale(1.3);
		}
		span{
			left: calc(100% + 2.5em);
		}
	}
}

// .video-home{
// 	position: absolute;
// 	display: flex;
// 	align-items: center;
// 	bottom: 36%;
// 	color: #fff !important;
// 	z-index: 2;
// 	letter-spacing: 0.05em;
// 	text-transform: uppercase;
// 	@include pfs('font-size', (1366px:13px, 1920px:18px));
// 	@include pfs('left', (767px:15px, 1024px:30px, 1366px:84px, 1920px:120px));
// 	transition: 0.3s;
// 	i{
// 		color: $c1;
// 		display: flex;
// 		align-items: center;
// 		justify-content: center;
// 		border-radius: 50%;
// 		border: 1px solid $c1;
// 		margin-top: -6px;
// 		margin-right: 10px;
// 		@include pfs('width, height', (1366px:28px, 1920px:38px));
// 		@include pfs('font-size', (1366px:10px, 1920px:14px));
// 		&:before{
// 			margin-right: -3px;
// 		}
// 	}
// 	&:hover{
// 		color: $c1 !important;
// 	}
// }
.cas-home {
	position: relative;
	padding: 0 45px;
	@media (min-width: 769px) {
		// height: 100vh;
		margin-top: 100px;
	}
	.dots{
		position: absolute;
		@include pfs(
			"height",
			(
				1024px: 80px,
				1366px: 105px,
			)
		);
		bottom: 0px;
		right: 220px;
		display: flex;
		align-items: center;
		.owl-dot{
			&:not(:last-child){
				margin-right: 25px;
			}
			span{
				display: block;
				position: relative;
				width: 8px;
				height: 8px;
				background: white;
				border-radius: 50%;
				border-radius: 50%;
				&::after{
					position: absolute;
					width: 24px;
					height: 24px;
					border-radius: 50%;
					content: '';
					left: -8px;
					bottom: -8px;
					border: 1px solid white;
					transition: 1s;
					transform: scale(0);
				}
			}
			&.active{
				span{
					&::after{
						transform: scale(1);
						
					}
				}
			}
		}
	}
	.owl-item{
		.item{
			position: relative;
			&:before {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 105px;
				background-color: rgba(#000, 0.3);
				z-index: 998;
			}
		}
	}
	
	.img {
		display: block;
		position: relative;
		overflow: hidden;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(#000, 0.7);
		}
		img {
			height: calc(100vh - 150px);
		}
	}
	.ct {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding-bottom: 15%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		@include pfs(
			"padding-left",
			(
				767px: 15px,
				1024px: 50px,
				1366px: 120px,
				1920px: 180px,
			)
		);
		font-family: $f2;
		color: #fff;
		.title {
			line-height: 1.4;
			text-transform: uppercase;
			pointer-events: none;
			@include pfs(
				"font-size",
				(
					767px: 24px,
					1024: 36px,
					1366px: 48px,
					1920px: 54px,
				)
			);
			font-weight: 500;
			max-width: 50%;
			span {
				color: $c2;
			}
		}
		.name {
			text-transform: uppercase;
			pointer-events: none;
			@include pfs(
				"font-size",
				(
					767px: 16px,
					1024: 20px,
					1366px: 24px,
					1920px: 26px,
				)
			);
			line-height: 2;
		}
		.more {
			position: relative;
			padding-left: 3em;
			margin-top: 0.5em;
			@include pfs(
				"font-size",
				(
					767px: 16px,
					1366px: 20px,
					1920px: 22px,
				)
			);
			font-weight: 200;
			&::before {
				position: absolute;
				content: "";
				left: 0;
				top: 50%;
				width: 2.5em;
				height: 1px;
				background: white;
			}
			&:hover{
				padding-left: 3.5em;
			}
		}
		.slider-nums {
			strong {
				font-weight: 500;
				@include pfs(
					"font-size",
					(
						767px: 60px,
						1024: 150px,
						1366px: 180px,
						1600px: 210px,
					)
				);
				-webkit-text-stroke: 2px white;
				color: transparent;
				text-transform: uppercase;
			}
		}
	}
	.owl-nav {
		position: absolute;
		@include pfs(
			"left",
			(
				767px: 15px,
				1024px: 30px,
				1366px: 84px,
				1920px: 120px,
			)
		);
		bottom: 100px;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.sl-arrow {
		@include pfs(
			"font-size",
			(
				1366px: 9px,
				1920px: 12px,
			)
		);
		text-transform: uppercase;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: 0.3s;
		i {
			margin-top: -4px;
			@include pfs(
				"font-size",
				(
					1366px: 13px,
					1920px: 18px,
				)
			);
		}
		&.prev {
			i {
				margin-right: 5px;
			}
		}
		&.next {
			margin-left: 30px;
			i {
				margin-left: 5px;
			}
		}
		&:hover {
			color: $c1;
		}
	}
}

.social-pri {
	position: absolute;
	left: 0;
	bottom: 4%;
	z-index: 2;
	@include pfs(
		"padding-left",
		(
			767px: 15px,
			1024px: 30px,
			1366px: 84px,
			1920px: 120px,
		)
	);
	@include pfs(
		"font-size",
		(
			1366px: 13px,
			1920px: 18px,
		)
	);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	li {
		@include pfs(
			"margin-right",
			(
				1366px: 18px,
				1920px: 26px,
			)
		);
		a {
			transition: 0.3s;
			&:hover {
				color: $c1;
			}
		}
	}
}

@media (max-width: 767px) {
	.mgl {
		margin-left: 12px;
	}
	.cas-home {
		.owl-nav {
			bottom: 20px;
			display: none;
		}
		.img img {
			height: 50vh;
		}
		.ct {
			padding-bottom: 0;
		}
	}
	.wrap-banner-home {
		.slider-nums {
			display: none;
		}
		.ct .title {
			font-size: 22px;
		}
	}
	// .video-home{
	// 	position: relative;
	// 	left: 0;
	// 	justify-content: center;
	// 	height: 18vh;
	// 	background: url('../images/bg-video.jpg') no-repeat center;
	// 	background-size: cover;
	// 	flex-direction: column;
	// 	&:before{
	// 		content: '';
	// 		position: absolute;
	// 		width: 100%;
	// 		height: 100%;
	// 		top: 0;
	// 		left: 0;
	// 		background-color: rgba(#000,0.4);
	// 		z-index: -1;
	// 	}
	// 	i{
	// 		margin-top: 0;
	// 		color: #fff;
	// 		margin-right: 0;
	// 		margin-bottom: 10px;
	// 		border-color: #fff;
	// 	}
	// 	span{
	// 		display: block;
	// 	}
	// }}
	// }
	.social-pri {
		position: relative;
		background: #000;
		height: 8vh;
		background-color: $bg-ft;
	}
}

